<h2>Добавить студента</h2>
<form class="form"   (ngSubmit)="submit()"> 
    <input type="text" name="title" id="" placeholder="title" FormControlName="title">
    <input type="text" name="description" id="" placeholder="description" FormControlName="description">
    <input type="text" name="year" id="" placeholder="year" FormControlName="year">
    <input type="text" name="img" id="" placeholder="img" FormControlName="img">
    <input type="text" name="id" id="" placeholder="id" FormControlName="id">
    <input type="submit" value="Добавить">

</form>
